<h1 id="about-us"><a name="about-us" href="#about-us"></a>About us</h1>
<p>
  This competition is brought to you by the INFOSec club,
  a club formed last year dedicated to talking about
  (and teaching) information security, or how to keep
  yourself safe, online.
</p>
<p>In addition to info/chat/qna/whatever sessions, we
  also host regular competitions for fun (such as this
  one). We are also preparing members for worldwide
  competitions like picoCTF, an annual Capture The
  Flag competition hosted by Carnegie Mellon University
  (because we all need that resume pad :p)
</p>
<p>
  Feel free to hop by any time; sessions are
  pretty chill and don’t really connect to each
  other too much (such is the nature of the topic,
  unfortunately) so you aren’t missing out on much,
  if anything at all.
</p>
<p>Thanks &amp; Enjoy,</p>
<p>Andrew &amp; Tyllis (Club Officers)</p>
