<html>
  <head>
  </head>
  <body>
    {% if message is defined %}
    <script>
      alert("{{message}}");
    </script>
    {% endif %}
    <h1>King of the Hill Wargame</h1>
    <p>
      Welcome! This is a King of the Hill(KOTH)-style,
      Attack-Defense competition centered around a network
      of devices. Confused? Check out the overview page.
    </p>
    <h4>Login And Signups</h4>
    <p><a href="/login">Player Login</a></p>
    <p><a href="/register">Register</a></p>

    <h4>Game Elements</h4>
    <p><a href="/game">Game URL</a> (Enter Network Here)</p>
    <p><a href="/game/forum">Admin Forums</a></p>

    <h4>Information, Tutorials, And Hints</h4>
    <p><a href="/info/overview">0. Overview</a></p>
    <p><a href="/info/mechanicsAndScoring">1. Mechanics and Scoring</a></p>
    <p><a href="/info/tutorials">2. Tutorials</a></p>
    <p><a href="/info/hints">3. Hints</a></p>
    <p><a href="/info/scoreboard">4. Scoreboard</a></p>
    <p><a href="/info/map">5. Map</a></p>
  </body>
</html>
