<html>
  <head>
  </head>
  <body>
    {% if message is defined %}
    <script>
      alert("{{message}}");
    </script>
    {% endif %}
    <h1>King of the Hill</h1>
    <p><a href="/info">1. Information Board</a></p>
    <p><a href="/login">2. Members Login</a></p>
    <p><a href="/game">3. Game URL</a></p>
    <p><a href="/map">4. Map</a></p>
    <p><a href="/scoreboard">5. Scoreboard</a></p>
    <p><a href="/hints">6. Tips </a></p>
    <p><a href="/game/forum">7. Admin Forums (Game Element)</a></p>
  </body>
</html>
