<html>
  <head>
  </head>
  <body>
    {% if releases >= 0 %}
    <h1>About Filters</h1>
    <p>Filters are crucial in this game. If any field contains an item in the filters, the server will ignore the request.
      Thus it is very important to make filters to protect input from SQL injection. Be aware if you are blocking database
      queries though. Filters ignore case and all spaces when comparing. It is highly recommended to filter SQL keywords.
    </p>
    {% endif %}

    {% if releases >= 0 %}
    <h1>Plan Your Routes</h1>
    <p>You can plan your routes to prevent being cut off and to cut off other players.</p>
    <img src="/static/BWMap.png" alt="Starting Map">
    <h1>Devices</h1>
    <p>Initially in the game, your team controls 2 devices. You should defend these nodes to maintain access
      to the rest of the network and gain valuable points. As shown on the map above, nodes are connected
      to other nodes in a specific layout, so you must navigate the network to attack high-value targets and
      defend your connections. Remember that some connections are one way, meaning that the attacked node cannot
      retaliate. In these cases, try to cut off your opponent as a defensive measure.
    </p>
    {% endif %}

    {% if releases >= 0 %}
    <h1>Breaking In</h1>
    <p>There are many ways to break in, including password exfiltration, tricking opponents (allowed!), guessing, and more. Do not limit your thinking to just SQL injection!</p>
    {% endif %}

    {% if releases >= 1 %}
    <h1>Scoring</h1>
    <p> Database devices give the most points, and should be well defended!
    </p>
    <p> Contested devices between teams can be a safer and more reliable way to
      earn points, and you cut off enemy teams from the special node.
    </p>
    {% endif %}

    {% if releases >= 1 %}
    <h1>Truethiness</h1>
    <p> Ever heard of string truthiness?
    </p>
    <p> Oh, and there are many ways to get TRUE, one of them is by using FALSE!
    </p>
    {% endif %}

    {% if releases >= 1 %}
    <h1>Forums</h1>
    <p>This <a href="/game/forum">forum page</a> is where admins (owners of simulated devices) ask questions and leak sensitive information by accident. </p>
    {% endif %}

    {% if releases >= 2 %}
    <h1>UNIONS</h1>
    <p>UNIONs are very powerful things. They can do more than just
    fool the login page.</p>
    {% endif %}

    {% if releases >= 3 %}
    <h1>LFI</h1>
    <p>I wonder if a server may accidentally grant access to passowrd hashes?</p>
    {% endif %}

    {% if releases >= 4 %}
    <h1>LFI</h1>
    <p>Too much work? Make a bot! We made a sample python selenium bot <a href="https://github.com/LivelyCarpet87-v2/INFOSec/tree/master/Selenium">here</a></p>
    {% endif %}

    {% if releases >= 5 %}
    <h1>SLEEP()</h1>
    <p>Could you make the servers sleepy? Maybe they would reveal something?</p>
    {% endif %}

    {% if gameStart %}

      {% if releases < 6 %}
      <h1>More Coming Soon</h1>
      <p>To award players for doing their own research, further hints
        are hidden until a certain amount of time passes. The next
        hint releases at about {{timeLeft}} minutes from now.
      </p>
      {% endif %}
    {% else %}
    <h1>More Coming Soon</h1>
    <p>To award players for doing their own research, further hints
      are hidden until a certain amount of time passes ({{timeLeft}} minutes as of now) after the game starts.
      There will be more hint releases will come once the game starts.
    </p>
    {% endif %}
    <meta http-equiv="refresh" content="600" >
  </body>
</html>
