<html>
  <head>
  </head>
  <body>
    {% if message is defined %}
    <script>
      alert("{{message}}");
    </script>
    {% endif %}
    <h1>Game Overview</h1>
    <p>In this game, your goal is to take over as many (simulated) devices called nodes on the network as
    possible. The nodes are scattered accross the network in the form of a map given below.
    Some nodes must be in your control before you can access its connected nodes.
    Every minute, the scorebot will tally points and update boards. You may exploit any vulnerabilities
    present in the /game url endpoint. Spam is not forbidden though the server may rate
    limit as the admin see fit.</p>

    <img src="/static/BWMap.jpg" alt="Starting Map">
    <h1>Query Databases</h1>
    <p>This is a service disruption penalty that only applies to database nodes. Admins will notice that queries have between
      disabled after 1 hour of it being disabled and re-enable it. Keeping it longer will delay their detection
      of service disruption.
    </p>

    <h1>Nodes</h1>
    <p>Initially in the game, your team controls 2 nodes. You should defend these nodes to maintain access
      to the rest of the network and gain valuable points. As shown on the map above, nodes are connected
      to other nodes in a specific layout, so you must navigate the network to attack high-value targets and
      defend your connections. Remember that some connections are one way, meaning that the attacked node cannot
      retaliate.
    </p>

    <h1>Scoring</h1>
    <p> Different targets give the controlling team a different number of points.
      As a general rule, the harder it is to maintain control, and the more services
      the device still has open leads to different point gains.
    </p>
    <h4>Network Entry Nodes</h4>
    <p>
      These are the nodes that each team on the network accesses the network from. It
      is vital to maintain control over your team's node to have access to the rest of the network. The
      nodes are called a1, b1, c1, d1. Each yields the controlling team {{teamOwned}} points
      per minute.
    </p>
    <h4>Commerce Databases</h4>
    <p>
      These nodes allow any user to search its database of products. It can only be attacked by
      the special node in the middle of the network and the nearest network entry node. The
      databases are called a2, b2, c2, d2. Each node yields the controlling team {{db}} points
      per minute as well as {{query}} points for each successful product query by the score bot.
      The products are listed below.
    </p>
    <h4>Contested Nodes</h4>
    <p>
      These 6 nodes can be found between the entry nodes of any 2 of the 4 teams. It can be attacked by
      the nearby network entry nodes and the nearby Commerce Databases. Of the 6 nodes, 4 are the only
      nodes that can attack the special node. Each node yields the controlling team {{contested}} points
      per minute.
    </p>
    <h4>Special Node</h4>
    <p>
      This node is a special snowflake. It can be attacked by 4 Contested Nodes and can attack all 4 Commerce Databases.
      Each node yields the controlling team {{special}} points
      per minute.
    </p>

    <h4>Score Increase Modifers</h4>
    <p>The score increase modifer increases by 1 for every hour you control the device,
      capped at 10. For example, a server taken over for (less than an hour more than) 3
      hours will give you x4 amount of points every minute than when you first took over. </p>

    <h4>Scoring Changes</h4>
    <p>The admin may change the scoring to promote/nerf behavior</p>

    <h1>Products in Databases</h1>
    {% for item in products %}
    <p>{{item}}</p>
    {% endfor %}

    <h1>Forums</h1>
    <p>This <a href="/game/forum">forum page</a> is where admins (owners of simulated devices) ask questions. </p>
  </body>
</html>
