<h1>Overview</h1>
<p>
  Welcome! This is a King of the Hill(KOTH)-style,
  Attack-Defense based competition centered around
  control over a network of devices.
</p>
<p>
  Now, in more plain terms:
</p>
<p>
  King-Of-The-Hill style competitions refer to those
  where the goal is to be the ‘king’, or the team in
  control of a particular thing, called the ‘hill’.
  In our case, the ‘hill’ would refer to the various
  servers on the game network.
</p>
<p>
  Attack-Defense based competitions refer to those
  which involve both an attacking aspect(taking
  control over other peoples’ servers) and a defending
  aspect(making sure that others don’t take control
  over your servers).
</p>
<p>
  Taking over a device is done by either logging
  in with the correct password or logging in without
  the correct password (hacking!). More explanation
  on the latter one in the
  <a href="/info/tutorials">
    bootcamp section
  </a>.
</p>
<p>
  A network of devices has been set in place with
  restrictions to model real-life networks, with
  features such as scaling point functions(because
  in real life, being in control of a device for a
  longer amount of time amounts to more profit for
  attackers), restricted server access (modeling
  real network topography), etc.
</p>
<p>The ultimate goal of the competition is to rack
  up the most points by being in control of the most
  servers for the longest amount of time..
</p>
<p>
  Oh, and of course, to win prizes and have fun. :)
</p>
