<h1>Bootcamp Tutorials</h1>
<p>Releases Wave: {{releases}}/6</p>
{% if releases >= 0 %}
<h4 id="sql-injection-basics"><a name="sql-injection-basics" href="#sql-injection-basics"></a>SQL Injection Basics</h4>
<p>
  Most of the hacking is done through something called an
  SQL injection, which is when the server code (what’s
  actually behind your login pages) accidentally takes
  user input(username, password) and treats it as system
  code (you know, the stuff that’s basically random
  english words and symbols put together), potentially
  breaking the login portal. Our goal is to break it
  intentionally, i.e. for a purpose: to allow us to
  login without the password, AKA hack the server).
</p>
<p>A quick example is as follows: imagine there’s a
  table called “logins” containing all the username
  and password pairs. By the way, in SQL, ‘*’ is another
  way of saying ‘everything’.
</p>
<p>
  Imagine a database query as follows:
</p>
<p><span style="color:DodgerBlue;">SELECT</span> <span style="color:#a67f59;">*</span> <span style="color:DodgerBlue;">FROM</span> logins <span style="color:DodgerBlue;">WHERE</span>
  username <span style="color:#a67f59;">=</span> <span style="color:MediumSeaGreen;">‘<strong>u5ername</strong>‘</span> <span style="color:#a67f59;">AND</span> password <span style="color:#a67f59;">=</span> <span style="color:MediumSeaGreen;">‘<strong>pAssw0rd</strong>‘</span></p>
<p>
  This normally works fine: if you submit an existing
  username-password combination (selects your pair and)
  it logs you in. Otherwise, nothing is selected from
  the database.
</p>
<p>E.g. <span style="color:DodgerBlue;">SELECT</span> <span style="color:#a67f59;">*</span> <span style="color:DodgerBlue;">FROM</span> logins <span style="color:DodgerBlue;">WHERE</span>
  username <span style="color:#a67f59;">=</span> <span style="color:MediumSeaGreen;">‘<strong>u5ername</strong>‘</span> <span style="color:#a67f59;">AND</span> password <span style="color:#a67f59;">=</span> <span style="color:MediumSeaGreen;">‘<strong>pAssw0rd</strong>‘</span> would
  match the account u5ername:pAssw0rd and log you in (given the account exists).</p>
<br>
<br>
<p>But what if we didn't know the username and password? If we input <u><strong>‘ or 1=’1</strong></u>
  for both fields instead? The query then turns into: (<strong><u>Bolded and underlined parts</u></strong> are attacker inputs.)
</p>
<p>
  <span style="color:DodgerBlue;">SELECT</span> <span style="color:#a67f59;">*</span> <span style="color:DodgerBlue;">FROM</span> logins <span style="color:DodgerBlue;">WHERE</span>
   username <span style="color:#a67f59;">=</span>
   <span style="color:MediumSeaGreen;">‘<u><strong>‘</strong></u></span><u><strong><span style="color:#a67f59;">OR</span> <span style="color:#905;">1</span><span style="color:#a67f59;">=</span></strong></u><span style="color:MediumSeaGreen;"><u><strong>’1</strong></u>‘</span> <span style="color:#a67f59;">AND</span> password <span style="color:#a67f59;">=</span> <span style="color:MediumSeaGreen;">‘<u><strong>‘</strong></u></span><u><strong> <span style="color:#a67f59;">OR</span>
    <span style="color:#905;">1</span><span style="color:#a67f59;">=</span> </strong></u><span style="color:MediumSeaGreen;"><u><strong>’1</strong></u>‘</span>
  </p>
<p>Now, it matches a user named <span style="color:MediumSeaGreen;">‘’</span> (does not match anything)
  <span style="color:#a67f59;">OR</span> if <span style="color:#905;">1</span> <span style="color:#a67f59;">=</span> <span style="color:MediumSeaGreen;">‘1’</span> (always equal, so always true). Because <span style="color:#905;">1</span> <span style="color:#a67f59;">=</span> <span style="color:MediumSeaGreen;">‘1’</span> is always true, so essentially you’ve
  created a statement that always matches everything, no matter whatever username is in
  the database. The same process occurs for the password.
</p>
<p>
  In short, you’ve logged in, without a password. To
  combat this, you can set filters for the user’s input:
  banning the <span style="color:#a67f59;">=</span> from being in a username, for
  example, would make the previous attack no longer work.
</p>
<p>
  And that’s all there is to it! After you hack into a
  server you can add one more filter, as long as it
  doesn’t render your login attack useless. If you
   don’t want others to hack into your server, you
   gotta just think up better attacks, banning whatever
   they might have used to login.
 </p>
{% endif %}

{% if releases >= 1 %}
<h4 id="more-sql-comparisons!"><a name="more-sql-comparisons!" href="#more-sql-comparisons!"></a>More SQL Comparisons!</h4>
<p>
  Here are some SQL comparison words beyond equalities:
</p>
<ul>
  <li>
    <code>&gt;</code>,<code>&lt;</code>
  </li>
  <li>
    <code>&#39;b&#39; IN(&#39;a&#39;,&#39;b&#39;,&#39;c&#39;)</code>
  </li>
  <li>
    <code>&#39;a&#39; LIKE &#39;b&#39;</code>
  </li>
  <li>
    <code>2 BETWEEN 1 AND 3</code>
  </li>
</ul>
<p>
  Eg. <span style="color:DodgerBlue;">SELECT</span> <span style="color:#a67f59;">*</span> <span style="color:DodgerBlue;">FROM</span> logins <span style="color:DodgerBlue;">WHERE</span>
  username <span style="color:#a67f59;">=</span>
  <span style="color:MediumSeaGreen;">‘<u><strong>TeamA</strong></u>‘</span> <span style="color:#a67f59;">AND</span> password <span style="color:#a67f59;">=</span> <span style="color:MediumSeaGreen;">‘<u><strong>‘</strong></u></span><u><strong> <span style="color:#a67f59;">OR</span>
  <span style="color:#905;">2</span> <span style="color:#a67f59;">BETWEEN</span> <span style="color:#905;">1</span> <span style="color:#a67f59;">AND</span> <span style="color:#905;">3</span> <span style="color:#a67f59;">OR</span> </strong></u><span style="color:MediumSeaGreen;"><u><strong>’</strong></u>‘</span>
</p>
<p>Again, <strong><u>bolded and underlined parts</u></strong> are attacker inputs. The fact that 1 is between 2 and 3 overrides the other false bits in this statement.</p>
{% endif %}

{% if releases >= 2 %}
<h4 id="more-ways-to-get-true"><a name="more-ways-to-get-true" href="#more-ways-to-get-true"></a>More Ways to get True</h4>
<p>Chain <code>OR</code> with:</p>
<ul>
<li>keyword <code>TRUE</code></li><li>keywords <code>NOT FALSE</code></li><li>numbers greater than 0 like <code>123</code> or <code>&#39;123&#39;</code> evaluate to true</li><li>strings like <code>&#39;abc123&#39;</code>, <code>0</code>, or <code>&#39;0&#39;</code> evaluate to false (hint: what is not false?)</li></ul>
{% endif %}

{% if releases >= 3 %}
<h4 id="union-attack-#1"><a name="union-attack-#1" href="#union-attack-#1"></a>Union Attack #1</h4>
<p>
  The union keyword combines multiple different search
  results. For example, if you were to use <u><strong>‘
    UNION SELECT username, password FROM logins--</strong>
  </u> as your password, this would be the resulting
  query:
</p>
<p>
  <span style="color:DodgerBlue;">SELECT</span> <span style="color:#a67f59;">*</span> <span style="color:DodgerBlue;">FROM</span> logins <span style="color:DodgerBlue;">WHERE</span>
  username <span style="color:#a67f59;">=</span> <span style="color:MediumSeaGreen;">‘<strong>u5ername</strong>‘</span> <span style="color:#a67f59;">AND</span> password <span style="color:#a67f59;">=</span> <span style="color:MediumSeaGreen;">‘<u><strong>a’</strong></u></span><u><strong> <span style="color:DodgerBlue;">UNION SELECT</span> username
    , password <span style="color:DodgerBlue;">FROM</span> logins <span style="color:#00a79d;">--</span></strong></u><span style="color:#00a79d;">'</span>
  </p>
<p>
  SQL ignores everything after ‘--‘ because it is
  commented out, so the server then reads it as such:
</p>
<p><span style="color:DodgerBlue;">SELECT</span> <span style="color:#a67f59;">*</span> <span style="color:DodgerBlue;">FROM</span> logins <span style="color:DodgerBlue;">WHERE</span>
  username <span style="color:#a67f59;">=</span> <span style="color:MediumSeaGreen;">‘<strong>u5ername</strong>‘</span> <span style="color:#a67f59;">AND</span> password <span style="color:#a67f59;">=</span> <span style="color:MediumSeaGreen;">‘<u><strong>a’</strong></u></span><u><strong> <span style="color:DodgerBlue;">UNION SELECT</span> username
    , password <span style="color:DodgerBlue;">FROM</span> logins</strong></u>
  </p>
<p>The second SELECT statement would return the entire logins table because there are no requirements (so everything matches). Because we just combined the search for
  <code>u5sername:a</code> with the ENTIRE logins
  database table, the query will have at least one
   match and you will be able to login.
 </p>
{% endif %}

 {% if releases >= 4 %}
 <h4 id="local-file-inclusion"><a name="local-file-inclusion" href="#local-file-inclusion"></a>Local File Inclusion</h4>
 <p>
   Even without the ability to upload and execute code,
   a Local File Inclusion vulnerability can be dangerous.
   An attacker can still perform a Directory Traversal /
   Path Traversal attack using an LFI vulnerability as
   follows.
   </p>
   <p>
   `http://example.com/?file=../../../../etc/passwd`
   </p>
   <p>
     In the above example, an attacker can get the
     contents of the /etc/passwd file that contains a
     list of users on the server and their hashed passwords.
     Similarly, an attacker may leverage the Directory
     Traversal vulnerability to access sensitive files.
     This information may then be used to advance an attack.
   </p>
{% endif %}

{% if releases >= 5 %}
<h4 id="union-attack-#2"><a name="union-attack-#2" href="#union-attack-#2"></a>Union Attack #2</h4>
<p>
  UNION can also be used to combine query results
  accross tables. You can use UNION in the search
  function of the ‘diamond’ servers to steal passwords
  and log in!
</p>
{% endif %}

{% if releases >= 6 %}
<h4 id="sleep()"><a name="sleep()" href="#sleep()"></a>SLEEP()</h4>
<p>Although the server is SQLite, we implemented a custom
  function called <code>SLEEP()</code> that accepts
  integers. eg. <code>SLEEP(10)</code><br>Sites
</p>
{% endif %}

{% if gameStart %}

  {% if releases < 6 %}
  <h1>More Coming Soon</h1>
  <p>To award players for doing their own research, more advanced tutorials
    are hidden until a certain amount of time passes. The next
    tutorial releases at about {{timeLeft}} minutes from now. Hints sometimes hint
    at the content of the next tutorials if you want a direction to start research.
  </p>
  {% endif %}
{% else %}
<h1>More Coming Soon</h1>
<p>To award players for doing their own research, more advanced tutorials
  are hidden until a certain amount of time passes ({{timeLeft}} minutes as of now)
  after the game starts.
  There will be more tutorial releases will come once the game starts.
</p>
{% endif %}
<meta http-equiv="refresh" content="600" >
